{% extends 'services/index.html' %}
{% load crispy_forms_tags %}

{% block site_title %}Восстановление пароля{% endblock site_title %}

{% block center %}
    <div class="container reg">
        <h2>Восстановление пароля</h2>
        <form method="POST" class="d-flex flex-column">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="button" class="btn btn-outline-success btn-lg align-self-end">Запросить пароль</button>
        </form>
    </div>
{% endblock center %}
